<div
  style="background-color: var(--color-3); color: var(--color-4); height: 100%; display: flex; flex-direction: column;">

  <!-- Título -->
  <div style="padding: 20px;padding-bottom: 0px;display: flex;">
    <ion-button (click)="volver()" fill="clear"
      style="margin: 0;width: 40px;height: 40px;--border-radius:100%;--color: var(--color-4);min-height: 0px;"><ion-icon
        slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    <p style="font-size: xx-large; font-weight: bold; margin: 0;">{{text?text:"Firmas"}}</p>
  </div>

  <div style="flex: 1; overflow-y: auto;overflow-x: hidden; margin: 20px 20px 20px;">
    <div class="canvas-container">
    
      <canvas #canvas></canvas>
  
      <div class="boton borrar">
        <ion-button class="btn-round-2" shape="round" (click)="clearCanvas()" style="margin: 0px;    font-size: initial !important;">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </div>
  
      <div class="boton guardar">
        <ion-button class="btn-round-2" shape="round" (click)="saveCanvas()" style="margin: 0px;    font-size: initial !important;">
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>
      </div>
    </div>
    

    <div style="height: 50%;">
      <image-cropper
          [imageURL]="this.firma"
          format="png"
          [maintainAspectRatio]="false"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded($event)"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
  </div>

  <div style="display: flex; justify-content: center; padding: 0px 20px 20px 20px;">
    <ion-button class="btn-1" (click)="siguiente()"
      style="width: 100%; --padding-top:16px; --padding-bottom:16px; --border-radius:10px;">
      Siguiente
    </ion-button>
  </div>
</div>