<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons [collapse]="true" slot="start">
      <ion-button (click)="volver()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Set {{num}}</ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button color="primary" (click)="siguiente()">
        Siguiente
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="volver()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title size="large">Set {{num}}</ion-title>
      <ion-buttons [collapse]="true" slot="end">
        <ion-button color="primary" (click)="siguiente()">
          Siguiente
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div style="margin: 20px 20px 20px;">

    <div class="select-text">
      <label>Equipo al Saque <span style="color: var(--color-danger-shade);">*</span></label>
      <ion-button style="margin-top: 5px;" class="input-select" fill="clear" (click)="seleccionar_equipo()">
        <div style="width: 100%;display: flex;justify-content: space-between;"
          [style.color]="set.equipo_saque?'var(--ion-color-dark)':''">
          <p>{{set.equipo_saque?set.equipo_saque=="A"?"Equipo A":"Equipo B":"Seleccionar Equipo"}}</p> <ion-icon
            name="chevron-expand-outline"></ion-icon>
        </div>
      </ion-button>
    </div>

    <div class="posiciones-inicial">
      <label><b>Equipo A</b> </label>
      <div style="margin-top: 5px;">
        <div style="display: flex; flex-direction: row;">
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2); border-top-left-radius: 20px;">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">4</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('A', 3)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_a[3]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_a[3]">
                  {{set.alineacion_a[3]}}</p>
              </ion-button>
            </div>
          </div>
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2);">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">3</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('A', 2)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_a[2]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_a[2]">
                  {{set.alineacion_a[2]}}</p>
              </ion-button>
            </div>
          </div>
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-right: 1px solid rgba(var(--ion-color-dark-rgb),.2); border-top-right-radius: 20px;">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">2</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('A', 1)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_a[1]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_a[1]">
                  {{set.alineacion_a[1]}}</p>
              </ion-button>
            </div>
          </div>
        </div>

        <div style="display: flex; flex-direction: row;">
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-bottom: 1px solid rgba(var(--ion-color-dark-rgb),.2);; border-bottom-left-radius: 20px;">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">5</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('A', 4)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_a[4]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_a[4]">
                  {{set.alineacion_a[4]}}</p>
              </ion-button>
            </div>
          </div>
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-bottom: 1px solid rgba(var(--ion-color-dark-rgb),.2);">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">6</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('A', 5)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_a[5]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_a[5]">
                  {{set.alineacion_a[5]}}</p>
              </ion-button>
            </div>
          </div>
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-right: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-bottom: 1px solid rgba(var(--ion-color-dark-rgb),.2); border-bottom-right-radius: 20px;">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">1</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('A', 0)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_a[0]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_a[0]">
                  {{set.alineacion_a[0]}}</p>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="posiciones-inicial">
      <label><b>Equipo B</b> </label>
      <div style="margin-top: 5px;">
        <div style="display: flex; flex-direction: row;">
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2); border-top-left-radius: 20px;">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">4</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('B', 3)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_b[3]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_b[3]">
                  {{set.alineacion_b[3]}}</p>
              </ion-button>
            </div>
          </div>
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2);">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">3</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('B', 2)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_b[2]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_b[2]">
                  {{set.alineacion_b[2]}}</p>
              </ion-button>
            </div>
          </div>
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-right: 1px solid rgba(var(--ion-color-dark-rgb),.2); border-top-right-radius: 20px;">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">2</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('B', 1)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_b[1]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_b[1]">
                  {{set.alineacion_b[1]}}</p>
              </ion-button>
            </div>
          </div>
        </div>

        <div style="display: flex; flex-direction: row;">
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-bottom: 1px solid rgba(var(--ion-color-dark-rgb),.2);; border-bottom-left-radius: 20px;">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">5</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('B', 4)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_b[4]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_b[4]">
                  {{set.alineacion_b[4]}}</p>
              </ion-button>
            </div>
          </div>
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-bottom: 1px solid rgba(var(--ion-color-dark-rgb),.2);">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">6</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('B', 5)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_b[5]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_b[5]">
                  {{set.alineacion_b[5]}}</p>
              </ion-button>
            </div>
          </div>
          <div
            style="display:flex;justify-content: center;align-items: center;position: relative;height: 124px; width: calc(100% / 3);border-top: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-left: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-right: 1px solid rgba(var(--ion-color-dark-rgb),.2);border-bottom: 1px solid rgba(var(--ion-color-dark-rgb),.2); border-bottom-right-radius: 20px;">
            <p style="position: absolute; top: 5px;width: 100%;text-align: center;margin: 0px;" [style.color]="'var(--ion-color-dark)'">1</p>
            <div
              style="border-radius: 100%;border: 1px solid rgba(var(--ion-color-dark-rgb),.2);width: 50px;height: 50px;display: flex;justify-content: center;align-items: center;">
              <ion-button fill="clear" (click)="alineacion('B', 0)"
                style="margin: 0;width: 100%;height: 100%;--border-radius:100%;--color: var(--ion-color-primary);min-height: 0px;"><ion-icon
                  slot="icon-only" name="add" *ngIf="!set.alineacion_b[0]"></ion-icon>
                <p style="margin: 0px;font-weight: bold;color: var(--ion-color-primary);" *ngIf="set.alineacion_b[0]">
                  {{set.alineacion_b[0]}}</p>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</ion-content>