.input-text{
    padding-bottom: 20px;
    label{
        color: rgba(var(--color-4-rgb),.7);
    }
    ion-input{
        min-height: 44px;
    }
}

.posiciones-inicial{
    padding-bottom: 20px;
    label{
        color: rgba(var(--color-4-rgb),.7);
    }
    p{
        color: rgba(var(--color-4-rgb),.5);
    }
}
.select-text{
    padding-bottom: 20px;
    label{
        color: rgba(var(--color-4-rgb),.7);
    }
    ion-select{
        min-height: 44px;
    }
}