<div style="background: var(--ion-color-step-100, var(--ion-background-color-step-100, #ffffff)); border-radius: 10px;padding:20px">

  <div style="padding: 0px;padding-bottom: 20px;display: flex;">
    <ion-button (click)="cancelar()" fill="clear"
      style="margin: 0;width: 40px;height: 40px;--border-radius:100%;min-height: 0px;"><ion-icon
        slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    <p style="font-size: xx-large; font-weight: bold; margin: 0;"> Nuevo Jugador</p>
  </div>

  <div class="input-text">
    <label>Número Dorsal</label>
    <ion-input fill="outline" type="number" placeholder="Número Dorsal" [(ngModel)]="dorsal"></ion-input>
  </div>

  <div class="input-text">
    <label>Nombre</label>
    <ion-input fill="outline" placeholder="Nombre Jugador" [(ngModel)]="nombre"></ion-input>
  </div>
  
  <div style="display: flex; justify-content: center; padding: 0px 20px 20px 20px;">
    <ion-button (click)="eliminar()" *ngIf="index" color="danger"
      style="width: 100%; --padding-top:16px; --padding-bottom:16px; --border-radius:10px;">
      Eliminar
    </ion-button>
    <ion-button (click)="guardar()" [disabled]="!nombre || dorsal === null" color="primary"
      style="width: 100%; --padding-top:16px; --padding-bottom:16px; --border-radius:10px;">
      Guardar
    </ion-button>
  </div>
</div>

<!-- 

<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons  slot="start">
        <ion-button (click)="cancelar()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Nuevo Partido</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="padding: 20px;">
    <div class="input-text">
      <label>Número Dorsal</label>
      <ion-input fill="outline" type="number" placeholder="Número Dorsal" [(ngModel)]="dorsal"></ion-input>
    </div>

    <div class="input-text">
      <label>Nombre</label>
      <ion-input fill="outline" placeholder="Nombre Jugador" [(ngModel)]="nombre"></ion-input>
    </div>
    
    <div style="display: flex; justify-content: center; padding: 0px 20px 20px 20px;">
      <ion-button (click)="eliminar()" *ngIf="index" color="danger"
        style="width: 100%; --padding-top:16px; --padding-bottom:16px; --border-radius:10px;">
        Eliminar
      </ion-button>
      <ion-button (click)="guardar()" [disabled]="!nombre || dorsal === null" color="primary"
        style="width: 100%; --padding-top:16px; --padding-bottom:16px; --border-radius:10px;">
        Guardar
      </ion-button>
    </div>
  </div>

</ion-content> -->