<div class="vista-partido">

  <div class="titulo-partido">
    <ion-button (click)="volver()" fill="clear"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    <p> Partido</p>
  </div>

  <div class="subtitulo-set">
    <p>Set {{set}}</p>
  </div>

  <div class="contenido-principal">

    <div>
      <div class="marcador-equipos">
        <div class="nombre-equipo">Equipo A</div>
        <div class="nombre-equipo">Equipo B</div>
      </div>
    
      <div class="cancha-container">
        <div class="cancha-equipo equipo-a">
          <div class="jugador-posicion pos-a-1">
            <ion-button fill="clear">1</ion-button>
          </div>
          <div class="jugador-posicion pos-a-2">
            <ion-button fill="clear">2</ion-button>
          </div>
          <div class="jugador-posicion pos-a-3">
            <ion-button fill="clear">3</ion-button>
          </div>
          <div class="jugador-posicion pos-a-4">
            <ion-button fill="clear">4</ion-button>
          </div>
          <div class="jugador-posicion pos-a-5">
            <ion-button fill="clear">5</ion-button>
          </div>
          <div class="jugador-posicion pos-a-6">
            <ion-button fill="clear">6</ion-button>
          </div>
        </div>
        <div class="cancha-equipo equipo-b">
          <div class="jugador-posicion pos-b-1">
            <ion-button fill="clear">1</ion-button>
          </div>
          <div class="jugador-posicion pos-b-2">
            <ion-button fill="clear">2</ion-button>
          </div>
          <div class="jugador-posicion pos-b-3">
            <ion-button fill="clear">3</ion-button>
          </div>
          <div class="jugador-posicion pos-b-4">
            <ion-button fill="clear">4</ion-button>
          </div>
          <div class="jugador-posicion pos-b-5">
            <ion-button fill="clear">5</ion-button>
          </div>
          <div class="jugador-posicion pos-b-6">
            <ion-button fill="clear">6</ion-button>
          </div>
        </div>
      </div>
    </div>

    <div class="puntos-container">
      <div class="puntos-equipo">
        <b>22</b>
      </div>
      <div class="separador-puntos">
        <b>vs</b>
      </div>
      <div class="puntos-equipo">
        <b>25</b>
      </div>
    </div>

    <div>
      <div class="acciones-container">
        <div class="accion-equipo accion-equipo-a">
          <div class="accion-boton-container">
            <ion-button fill="clear">+1 Punto</ion-button>
          </div>
        </div>
        <div class="accion-equipo accion-equipo-b">
          <div class="accion-boton-container">
            <ion-button fill="clear">+1 Punto</ion-button>
          </div>
        </div>
      </div>

      <div class="acciones-container" style="margin-top: 10px;">
        <div class="accion-equipo accion-equipo-a">
          <div class="accion-boton-container">
            <ion-button fill="clear">Amonestación</ion-button>
          </div>
        </div>
        <div class="accion-equipo accion-equipo-b">
          <div class="accion-boton-container">
            <ion-button fill="clear">Amonestación</ion-button>
          </div>
        </div>
      </div>

      <div class="boton-deshacer">
        <ion-button fill="clear"><ion-icon name="refresh-outline"></ion-icon> Deshacer última acción</ion-button>
      </div>
    </div>

    <div class="historial-container">
      <p class="historial-titulo">Historial de acciones</p>
      <div class="historial-lista">
        <p *ngFor="let item of logs">
          {{`[${item.hora}] ${item.tipo}${item.equipo?" Equipo "+item.equipo:""}${item.jugador?" (Jugador "+item.jugador.numero+")":""}`}}
        </p>
      </div>
    </div>

  </div>

  <div class="pie-pagina">
    <ion-button (click)="volver()" class="btn-1">
      Terminar
    </ion-button>
  </div>
</div>