<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar class="toolbar-header-grande">
    <ion-buttons slot="start">
      <ion-button class="boton-volver-grande" (click)="volver()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <p class="header-title-izq">Partido</p>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="siguiente()">
        {{ setFinalizado ? 'Siguiente' : 'Terminar' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">

  <div class="vista-partido">
  
    <div class="subtitulo-set">
      <p>Set {{set}}</p>
    </div>

    <div class="aviso-set-finalizado" *ngIf="setFinalizado">
      <ion-icon name="lock-closed"></ion-icon>
      <span>Este set ya finalizó. Solo puedes revisarlo y continuar; no se pueden registrar más acciones.</span>
    </div>

    <div class="contenido-principal">
  
      <div>
        <div class="marcador-equipos" [class.orden-invertido]="invertido">
          <div class="nombre-equipo">{{nombreEquipoLado('A')}} (A)</div>
          <div class="nombre-equipo">{{nombreEquipoLado('B')}} (B)</div>
        </div>

        <div class="cancha-container" [class.orden-invertido]="invertido">
          <div class="cancha-equipo equipo-a" [class]="(this.saqueActual() == 'A'?'saque-a':'')">
            <div class="jugador-posicion" [class]="'pos-a-'+((((6 + 1 - this.contarRotaciones('A') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('A',alineacion_a[0])" [disabled]="setFinalizado" fill="clear">{{validaCambio('A',alineacion_a[0])}}</ion-button>
            </div>
            <div class="jugador-posicion" [class]="'pos-a-'+((((6 + 2 - this.contarRotaciones('A') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('A',alineacion_a[1])" [disabled]="setFinalizado" fill="clear">{{validaCambio('A',alineacion_a[1])}}</ion-button>
            </div>
            <div class="jugador-posicion" [class]="'pos-a-'+((((6 + 3 - this.contarRotaciones('A') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('A',alineacion_a[2])" [disabled]="setFinalizado" fill="clear">{{validaCambio('A',alineacion_a[2])}}</ion-button>
            </div>
            <div class="jugador-posicion" [class]="'pos-a-'+((((6 + 4 - this.contarRotaciones('A') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('A',alineacion_a[3])" [disabled]="setFinalizado" fill="clear">{{validaCambio('A',alineacion_a[3])}}</ion-button>
            </div>
            <div class="jugador-posicion" [class]="'pos-a-'+((((6 + 5 - this.contarRotaciones('A') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('A',alineacion_a[4])" [disabled]="setFinalizado" fill="clear">{{validaCambio('A',alineacion_a[4])}}</ion-button>
            </div>
            <div class="jugador-posicion" [class]="'pos-a-'+((((6 + 0 - this.contarRotaciones('A') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('A',alineacion_a[5])" [disabled]="setFinalizado" fill="clear">{{validaCambio('A',alineacion_a[5])}}</ion-button>
            </div>
          </div>
          <div class="cancha-equipo equipo-b" [class]="(this.saqueActual() == 'B'?'saque-b':'')">
            <div class="jugador-posicion" [class]="'pos-b-'+((((6 + 1 - this.contarRotaciones('B') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('B',alineacion_b[0])" [disabled]="setFinalizado" fill="clear">{{validaCambio('B',alineacion_b[0])}}</ion-button>
            </div>
            <div class="jugador-posicion" [class]="'pos-b-'+((((6 + 2 - this.contarRotaciones('B') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('B',alineacion_b[1])" [disabled]="setFinalizado" fill="clear">{{validaCambio('B',alineacion_b[1])}}</ion-button>
            </div>
            <div class="jugador-posicion" [class]="'pos-b-'+((((6 + 3 - this.contarRotaciones('B') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('B',alineacion_b[2])" [disabled]="setFinalizado" fill="clear">{{validaCambio('B',alineacion_b[2])}}</ion-button>
            </div>
            <div class="jugador-posicion" [class]="'pos-b-'+((((6 + 4 - this.contarRotaciones('B') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('B',alineacion_b[3])" [disabled]="setFinalizado" fill="clear">{{validaCambio('B',alineacion_b[3])}}</ion-button>
            </div>
            <div class="jugador-posicion" [class]="'pos-b-'+((((6 + 5 - this.contarRotaciones('B') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('B',alineacion_b[4])" [disabled]="setFinalizado" fill="clear">{{validaCambio('B',alineacion_b[4])}}</ion-button>
            </div>
            <div class="jugador-posicion" [class]="'pos-b-'+((((6 + 0 - this.contarRotaciones('B') % 6) % 6) || 6))">
              <ion-button (click)="cambiarJugador('B',alineacion_b[5])" [disabled]="setFinalizado" fill="clear">{{validaCambio('B',alineacion_b[5])}}</ion-button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="puntos-container" [class.orden-invertido]="invertido">
        <div class="puntos-equipo" [class.puntos-equipo-ganador]="esGanadorSet('A')">
          <b>{{contarPuntos('A')}}</b>
        </div>
        <div class="separador-puntos">
          <b>vs</b>
        </div>
        <div class="puntos-equipo" [class.puntos-equipo-ganador]="esGanadorSet('B')">
          <b>{{contarPuntos('B')}}</b>
        </div>
      </div>

      <div style="margin-left: 20px;margin-right: 20px;">
        <div class="acciones-container" [class.orden-invertido]="invertido">
          <div class="accion-equipo accion-equipo-a">
            <div class="accion-boton-container">
              <ion-button (click)="punto('A')" [disabled]="setFinalizado" fill="clear">+1 Punto</ion-button>
            </div>
          </div>
          <div class="accion-equipo accion-equipo-b">
            <div class="accion-boton-container">
              <ion-button (click)="punto('B')" [disabled]="setFinalizado" fill="clear">+1 Punto</ion-button>
            </div>
          </div>
        </div>

        <div class="acciones-container" [class.orden-invertido]="invertido" style="margin-top: 10px;">
          <div class="accion-equipo accion-equipo-a">
            <div class="accion-boton-container">
              <ion-button (click)="tiempo('A')" [disabled]="setFinalizado" fill="clear"><ion-icon name="timer-outline" style="margin-right: 5px;"></ion-icon>Tiempo</ion-button>
            </div>
          </div>
          <div class="accion-equipo accion-equipo-b">
            <div class="accion-boton-container">
              <ion-button (click)="tiempo('B')" [disabled]="setFinalizado" fill="clear"><ion-icon name="timer-outline" style="margin-right: 5px;"></ion-icon>Tiempo</ion-button>
            </div>
          </div>
        </div>

        <div class="acciones-container" [class.orden-invertido]="invertido" style="margin-top: 10px;">
          <div class="accion-equipo accion-equipo-a">
            <div class="accion-boton-container">
              <ion-button (click)="amonestacion('A')" [disabled]="setFinalizado" fill="clear">Amonestación</ion-button>
            </div>
          </div>
          <div class="accion-equipo accion-equipo-b">
            <div class="accion-boton-container">
              <ion-button (click)="amonestacion('B')" [disabled]="setFinalizado" fill="clear">Amonestación</ion-button>
            </div>
          </div>
        </div>
  
        <div class="boton-deshacer">
          <ion-button (click)="deshacer()" [disabled]="setFinalizado" fill="clear"><ion-icon name="refresh-outline"></ion-icon> Deshacer última acción</ion-button>
        </div>
      </div>
  
      <div class="historial-container">
        <p class="historial-titulo">Historial de acciones</p>
        <div class="historial-lista">
          <span style="display: flex;" *ngFor="let item of logs">
            [
              <p style="width: 22px !important;text-align: center;">{{formatoHora(item.hora)[0]}}</p> :
              <p style="width: 22px !important;text-align: center;">{{formatoHora(item.hora)[1]}}</p> :
              <p style="width: 22px !important;text-align: center;">{{formatoHora(item.hora)[2]}}</p>
            ]
            {{`${textLog(item.tipo)}${item.jugador?" (J "+item.jugador+")":""}${item.cambio?" - (J "+item.cambio+")":""}${item.equipo?" Equipo "+item.equipo:""}`}}
          </span>
        </div>
      </div>
  
    </div>
  </div>

</ion-content>
