
<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons [collapse]="true" slot="start">
        <ion-back-button default-href="/home" text=""></ion-back-button>
      </ion-buttons>
    <ion-title>Equipo {{lado}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/home" text=""></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Equipo {{lado}}</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <div style="margin: 20px 20px 20px;">

    <div class="input-text">
      <label>Nombre <!-- <span style="color: var(--color-danger-shade);">*</span> --></label>
      <ion-input fill="outline" placeholder="Nombre Equipo" [(ngModel)]="equipo.nombre"></ion-input>
    </div>

    <div class="players">
      <div style="display: flex;align-items: center;">
        <label style="margin-right: 10px;">Jugadores</label>
        <ion-button class="btn-round" shape="round" style="margin: 0px;" (click)="abrirModalJugador()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </div>
      <div class="table-players">
        <table>
          <thead>
            <tr>
              <td style="border-top-left-radius: 10px; width: 60px;">N° <span style="color: var(--color-danger-shade);">*</span></td>
              <td>Nombre Jugador</td>
              <td style="width: 50px;">Cap</td>
              <td style="border-top-right-radius: 10px; width: 50px;">Lib</td>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let jugador of equipo.jugadores;let i = index" (click)="editarJugador(i)">
              <td>{{jugador.numero}}</td>
              <td>{{jugador.nombre}}</td>
              <td><div style="display: flex;justify-content: center;align-items: center;"><ion-checkbox [(ngModel)]="jugador.capitan" (click)="$event.stopPropagation()"></ion-checkbox></div></td>
              <td><div style="display: flex;justify-content: center;align-items: center;"><ion-checkbox [(ngModel)]="jugador.libero" (click)="$event.stopPropagation()"></ion-checkbox></div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="input-text">
      <label>Entrenador</label>
      <ion-input fill="outline" placeholder="Nombre Entrenador" [(ngModel)]="equipo.entrenador"></ion-input>
    </div>

    <div class="input-text">
      <label>Primer Asistente Entrenador</label>
      <ion-input fill="outline" placeholder="Nombre Primer Asistente" [(ngModel)]="equipo.primer_asistente"></ion-input>
    </div>

    <div class="input-text">
      <label>Segundo Asistente Entrenador</label>
      <ion-input fill="outline" placeholder="Nombre Segundo Asistente" [(ngModel)]="equipo.segundo_asistente"></ion-input>
    </div>

    <div class="input-text">
      <label>Medico</label>
      <ion-input fill="outline" placeholder="Nombre Medico" [(ngModel)]="equipo.medico"></ion-input>
    </div>

    <div class="input-text" style="padding-bottom: 0px;">
      <label>Fisioterapeuta</label>
      <ion-input fill="outline" placeholder="Nombre Fisioterapeuta" [(ngModel)]="equipo.fisioterapeuta"></ion-input>
    </div>

  </div>

  <div style="display: flex; justify-content: center; padding: 0px 20px 20px 20px;">
    <ion-button (click)="siguiente()" class="btn-1" style="width: 100%; --padding-top:16px; --padding-bottom:16px; --border-radius:10px;">
      Siguiente
    </ion-button>
  </div>

</ion-content>