<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Scoresheets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scoresheets</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="display: flex; justify-content: center; padding: 0px 20px 0px 20px;">
    <ion-button (click)="new_game()" class="btn-1" style="width: 100%; --padding-top:16px; --padding-bottom:16px; --border-radius:10px;">
      Nuevo partido
    </ion-button>
  </div>

  <div style="flex: 1; overflow-y: auto;overflow-x: hidden; margin: 20px 20px 20px;">
    
    <ion-item-sliding style=" margin-bottom: 10px;"
    *ngFor="let partido of partidos; let i = index">
      <ion-item style="--border-radius:10px !important; --inner-border-width:0px 0px 0px 0px">
        <ion-button
        (click)="continuar_partido(i)"
        fill="clean"
        shape="round"
        style="--border-radius: 10px; border-radius: 10px; border: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, var(--ion-background-color-step-250, #c8c7cc)))); width: 100%;margin:0px;"
      >
        <div style="width: 100%; padding: 20px;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0; font-weight: 500; font-size: x-large;text-align: left;">{{partido.torneo?partido.torneo:'Partido N° '+partido.numero_partido}}</p>
            <p style="margin: 0; color: rgba(var(--color-4-rgb), 0.5);" *ngIf="!partido.torneo">{{partido.estado}}</p>
          </div>
          <div *ngIf="partido.torneo" style="display: flex; justify-content: space-between; align-items: center;margin-top: 5px;">
            <p style="margin: 0; font-weight: 400; font-size: small;text-align: left;">{{'Partido N° '+partido.numero_partido}}</p>
            <p style="margin: 0; color: rgba(var(--color-4-rgb), 0.5);">{{partido.estado}}</p>
          </div>
          <div style="display: flex; justify-content: space-between; margin-top: 10px;padding-left: 10px;padding-right: 10px;">
            <p style="margin: 0;">{{partido.equipoA}}</p>
            <p style="margin: 0;">{{partido.setsA?partido.setsA + " sets":"-"}}</p>
          </div>
          <div style="display: flex; justify-content: space-between; margin-top: 10px;padding-left: 10px;padding-right: 10px;">
            <p style="margin: 0;">{{partido.equipoB}}</p>
            <p style="margin: 0;">{{partido.setsB? partido.setsB + " sets": "-"}}</p>
          </div>
        </div>
      </ion-button>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="edit_game(partido.index)" color="primary" style="border-radius: 10px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="eliminarPartido(partido.index)" color="danger" style="border-radius: 10px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>

</ion-content>
