
<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons [collapse]="true" slot="start">
        <ion-button (click)="volver()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Nuevo Partido</ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button color="primary" (click)="siguiente()">
        Siguiente
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="volver()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title size="large">Nuevo Partido</ion-title>
      <ion-buttons [collapse]="true" slot="end">
        <ion-button color="primary" (click)="siguiente()">
          Siguiente
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div style="margin: 20px 20px 20px;">

    <div class="input-text" style="position: relative;">
      <label>Competición <ion-button *ngIf="autocompletar" fill="clear" size="small" style="position: absolute; right: 0px; top: -7px;" (click)="autocompletarDatos()">Autocompletar datos</ion-button></label>
      <ion-input fill="outline" placeholder="Nombre Competición" [(ngModel)]="partido.competicion" (ionInput)="buscar_torneo()"></ion-input>
    </div>

    <div class="input-text">
      <label>N° Partido</label>
      <ion-input fill="outline" placeholder="Numero Partido" type="number"
        [(ngModel)]="partido.numero_partido"></ion-input>
    </div>

    <div class="input-text">
      <label>Nro de Sets</label>
      <div class="input-segment">
        <ion-segment class="segment-custom" [(ngModel)]="partido.numero_sets">
          <ion-segment-button [value]="3">
            <ion-label>3</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="5">
            <ion-label>5</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
      
    </div>

    <div class="input-text">
      <label>Fecha</label>
      <div id="present-alert" id="ion-datatime-picker-1" class="input-datetime">
        <p style="margin: 0px;" [style.opacity]="partido.fecha?'1':'0.5'">{{partido.fecha?partido.fecha:'DD/MM/YYYY'}}</p></div>
      <app-datetimepicker format="DD/MM/YYYY" outputFormat="DD/MM/YYYY" mode="md" presentation="date"
        trigger="ion-datatime-picker-1" [cancelText]="'CANCELAR'" [doneText]="'CONFIRMAR'" [display]="false"
        [(ngModel)]="partido.fecha"></app-datetimepicker>
    </div>

    <div class="input-text">
      <label>Hora</label>
      <div id="present-alert" id="ion-datatime-picker-2" class="input-datetime"><p style="margin: 0px;" [style.opacity]="partido.hora?'1':'0.5'">{{partido.hora?partido.hora:'HH:MM'}}</p>
      </div>
      <app-datetimepicker format="HH:mm" outputFormat="HH:mm" mode="md" presentation="time"
        trigger="ion-datatime-picker-2" [cancelText]="'CANCELAR'" [doneText]="'CONFIRMAR'" [display]="false"
        [(ngModel)]="partido.hora"></app-datetimepicker>
    </div>

    <div class="input-text">
      <label>Ciudad</label>
      <ion-input fill="outline" placeholder="Nombre Ciudad" [(ngModel)]="partido.ciudad"></ion-input>
    </div>

    <div class="input-text">
      <label>Pais</label>
      <ion-input fill="outline" placeholder="Nombre Pais" [(ngModel)]="partido.pais"></ion-input>
    </div>

    <div class="input-text">
      <label>Gimnasio</label>
      <ion-input fill="outline" placeholder="Nombre Gimnasio" [(ngModel)]="partido.gimnasio"></ion-input>
    </div>

    <div class="input-text">
      <label>Division</label>
      <ion-input fill="outline" placeholder="Nombre Division" [(ngModel)]="partido.division"></ion-input>
    </div>

    <div class="input-text">
      <label>Categoria</label>
      <ion-input fill="outline" placeholder="Nombre Categoria" [(ngModel)]="partido.categoria"></ion-input>
    </div>

    <div class="input-text">
      <label>Primer Arbitro</label>
      <ion-input fill="outline" placeholder="Nombre Primer Arbitro" [(ngModel)]="partido.primer_arbitro"></ion-input>
    </div>

    <div class="input-text">
      <label>Segundo Arbitro</label>
      <ion-input fill="outline" placeholder="Nombre Segundo Arbitro" [(ngModel)]="partido.segundo_arbitro"></ion-input>
    </div>

    <div class="input-text">
      <label>Planillero</label>
      <ion-input fill="outline" placeholder="Nombre Planillero" [(ngModel)]="partido.planillero"></ion-input>
    </div>

    <div class="input-text">
      <label>Asistente Planillero</label>
      <ion-input fill="outline" placeholder="Nombre Asistente Planillero"
        [(ngModel)]="partido.asistente_planillero"></ion-input>
    </div>

    <div class="input-text">
      <label>Primer Banderin</label>
      <ion-input fill="outline" placeholder="Nombre Primer Banderin" [(ngModel)]="partido.primer_banderin"></ion-input>
    </div>

    <div class="input-text">
      <label>Segundo Banderin</label>
      <ion-input fill="outline" placeholder="Nombre Segundo Banderin"
        [(ngModel)]="partido.segundo_banderin"></ion-input>
    </div>

    <div class="input-text">
      <label>Tercer Banderin</label>
      <ion-input fill="outline" placeholder="Nombre Tercer Banderin" [(ngModel)]="partido.tercer_banderin"></ion-input>
    </div>

    <div class="input-text" style="padding-bottom: 0px;">
      <label>Cuarto Banderin</label>
      <ion-input fill="outline" placeholder="Nombre Cuarto Banderin" [(ngModel)]="partido.cuarto_banderin"></ion-input>
    </div>

  </div>

</ion-content>