.input-text{
    padding-bottom: 20px;
    label{
        color: rgba(var(--color-4-rgb),.7);
    }
    ion-input{
        --border-color:rgba(var(--color-4-rgb),.2);
        --border-radius:10px;
        min-height: 44px;
    }
}