
<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons [collapse]="true" slot="start">
        <ion-button (click)="volver()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Nuevo Partido</ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button color="primary" (click)="siguiente()">
        Siguiente
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="volver()"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title size="large">Nuevo Partido</ion-title>
      <ion-buttons [collapse]="true" slot="end">
        <ion-button color="primary" (click)="siguiente()">
          Siguiente
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div style="margin: 20px 20px 20px;">

    <div class="input-text" style="position: relative;">
      <label>Competición <ion-button *ngIf="autocompletar" fill="clear" size="small" style="position: absolute; right: 0px; top: -7px;" (click)="autocompletarDatos()">Autocompletar datos</ion-button></label>
      <ion-input fill="outline" placeholder="Nombre Competición" [(ngModel)]="partido.competicion" (ionInput)="buscar_torneo()"></ion-input>
    </div>

    <div class="input-text">
      <label>N° Partido</label>
      <ion-input fill="outline" placeholder="Numero Partido" type="number"
        [(ngModel)]="partido.numero_partido"></ion-input>
    </div>

    <div class="input-text">
      <label>Nro de Sets</label>
      <div class="input-segment">
        <ion-segment class="segment-custom" [(ngModel)]="partido.numero_sets">
          <ion-segment-button [value]="3">
            <ion-label>3</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="5">
            <ion-label>5</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

    </div>

    <div class="input-text" style="display: flex; align-items: center; justify-content: space-between;">
      <label style="margin: 0;">Cambio de lado último set</label>
      <ion-toggle [(ngModel)]="partido.cambio_lado_ultimo_set"></ion-toggle>
    </div>

  </div>

</ion-content>
