/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* =======================================
 * 1. Imports de estilos de Ionic
 * ======================================= */
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* =======================================
 * 2. Ionic Dark Mode & Palettes
 * ======================================= */
/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */
/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* =======================================
 * 3. Fuentes
 * ======================================= */
@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* Aplicar la fuente globalmente */
* {
  font-family: "Inter", sans-serif;
  --ion-default-font: "Inter", sans-serif;
}

.input-text ion-input {
  border: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, var(--ion-background-color-step-250, #c8c7cc))));
  border-radius: 10px;
  margin-top: 5px;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.segment-custom {
  margin-top: 5px;
  height: 44px;
  ion-segment-button {

    min-height: 44px;    
    font-size: large;
    border-radius: 10px;
    margin: 0px;
  }

  ion-segment-button::part(indicator-background) {
    background: var(--ion-color-primary);
  }
  .segment-button-checked::part(native) {
    color: var(--ion-color-primary-contrast);
  }
}

.input-segment {
  border-radius: 10px;
  min-height: 44px;
  display: flex;
  align-items: center;
}

.input-datetime {
  margin-top: 5px;
  border: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, var(--ion-background-color-step-250, #c8c7cc))));
  border-radius: 10px;
  padding-left: 16px !important;
  padding-right: 16px !important;
  height: 44px;
  display: flex;
  align-items: center;
  color: inherit;
}

.btn-round {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  min-width: 25px;
  min-height: 25px;
}

.modal-centrado {
  --background: transparent;
  --height: 750px;
  --box-shadow: none !important;

  ion-content {
    /* --overflow-y: hidden; */
  }

  .modal-wrapper {
    border-radius: 10px 10px 0px 0px;
    --background: transparent;
    @media (min-width: 721px) {
      --box-shadow: none;
    }
  }

  @media (max-width: 720px) {
    --width: 90%;
    --max-height: 90%;
  }
}

// /* =======================================
//  * 4. Estilos globales del body y componentes de Ionic
//  * ======================================= */
// body {
//   background: var(--color-3);
// }

// ion-content {
//   --background: var(--color-3);
//   --color: var(--color-4);
// }

// ion-item {
//   --background: var(--color-3);
//   --color: var(--color-4);
// }

// /*
//  * Estilos específicos para IONIC en diferentes plataformas
//  */
// .is-mobile ion-app {
//   margin-top: 40px;
// }

// /* Datetime */
// .input-datetime {
//   border: 1px solid rgba(var(--color-4-rgb), .2);
//   border-radius: 10px;
//   padding-left: 16px !important;
//   padding-right: 16px !important;
//   height: 44px;
//   display: flex;
//   align-items: center;
//   color: rgba(var(--color-4-rgb), 0.5);
// }

// /* Select */



// /* Checkbox */
// ion-checkbox {
//   --checkbox-background: var(--color-3);
//   --border-width: 1px;
//   --border-color: rgba(var(--color-4-rgb), 0.2);
//   --checkmark-color: rgba(var(--color-4-rgb), 0.5);
//   --checkmark-width: 2;
//   --checkbox-background-checked: var(--color-3);
//   --border-color-checked: rgba(var(--color-4-rgb), 0.2);
// }

// /* =======================================
//  * 5. Estilos de alertas y modales
//  * ======================================= */
// /* Alert (global) */
// ion-alert {
//   --background: var(--color-3) !important;

//   /* Estilos específicos para alert-radio-label y alert-radio-icon */
//   [aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md,
//   .sc-ion-alert-md .alert-radio-label.sc-ion-alert-md,
//   .alert-radio-label.sc-ion-alert-ios {
//     color: rgba(var(--color-4-rgb), 0.5);
//   }

//   .alert-radio-inner.sc-ion-alert-md {
//     background-color: var(--color-1);
//   }

//   [aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
//     border-color: var(--color-1);
//   }

//   /* Títulos y mensajes de la alerta */
//   .alert-title.sc-ion-alert-ios,
//   .alert-title.sc-ion-alert-md {
//     color: var(--color-4);
//   }

//   .alert-message.sc-ion-alert-ios,
//   .alert-input-group.sc-ion-alert-ios,
//   .alert-message.sc-ion-alert-md,
//   .alert-input-group.sc-ion-alert-md {
//     color: rgba(var(--color-4-rgb), 0.5);
//   }

//   .alert-message.sc-ion-alert-ios:empty
//   {
//     padding-left: 0;
//     padding-right: 0;
//     padding-top: 0;
//     padding-bottom: 0;
//   }

//   /* Botones de la alerta */
//   .alert-button.sc-ion-alert-md,
//   .alert-button.sc-ion-alert-ios {
//     color: var(--color-1);
//   }

//   /* Botones destructivos */
//   .alert-button-role-destructive.sc-ion-alert-ios,
//   .alert-button-role-destructive.ion-activated.sc-ion-alert-ios,
//   .alert-button-role-destructive.ion-focused.sc-ion-alert-ios,
//   .alert-button-role-destructive.sc-ion-alert-md,
//   .alert-button-role-destructive.ion-activated.sc-ion-alert-md,
//   .alert-button-role-destructive.ion-focused.sc-ion-alert-md {
//     color: var(--color-danger, #c5000f);
//   }
  
//   /* Otros estilos del grupo de radio/checkbox y wrapper */
//   .alert-radio-group.sc-ion-alert-md,
//   .alert-checkbox-group.sc-ion-alert-md {
//     border-top: 0px;
//     border-bottom: 0px;
//   }
  
//   .sc-ion-alert-ios-h {
//     --background: red; /* Este estilo parece un error, revísalo si es necesario */
//   }
// }

// /* Custom Alert (clase personalizada) */
// .custom-alert .alert-wrapper {
//   --background: var(--color-3);
//   color: var(--color-4);
// }

// .custom-alert .alert-title,
// .custom-alert .alert-sub-title,
// .custom-alert .alert-message,
// .custom-alert .alert-radio-label {
//   color: var(--color-4);
// }

// .custom-alert .alert-radio-inner {
//   border-color: var(--color-1) !important;
// }

// .custom-alert .alert-button {
//   color: var(--color-1);
// }

// /* =======================================
//  * 6. Clases de utilidad y botones
//  * ======================================= */
// /* Botones */
// .btn-1 {
//   --background: var(--color-1);
//   --color: var(--color-3);
// }
// .btn-danger {
//   --background: var(--color-danger);
//   --color: var(--color-3);
// }

// .btn-round-2 {
//   --background: var(--color-1);
//   --color: var(--color-3);
//   min-width: 50px;
//   min-height: 50px;
//   font-size: 25px !important;
// }


.no-padding-header {
  --backdrop-opacity: 0.8;
  
  .alert-wrapper {
    .alert-head {
      padding: 0;
      
      .alert-title {
        margin: 0;
        padding: 0;
      }
    }
  }
  
  .no-padding {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.no-padding-message {
  --backdrop-opacity: 0.8;
  
  .alert-wrapper {
    
    .alert-message {
      padding: 0;
      margin: 0;
    }
  }
  
  .no-padding {
    padding: 0 !important;
    margin: 0 !important;
  }
}